* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --main: #008000;
  --sub: #eeeeee;
  --title: black;
  --parg: #666666;
  --shadow: 0 5px 20px rgba(0, 0, 0, 0.5)  ;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}
.specail-heading{
    text-align: center;
    font-weight: bold;
}
.specail-heading > span{
    background-color: var(--main);
    color:white;
    padding:10px 40px;
    position: relative;
    display: inline-block;
}
.specail-heading > span::after{
    content: "";
    position: absolute;
    right: -1%;
    top: 0;
    border-top: 35px solid transparent;
    border-bottom: 32px solid transparent;
    border-right: 40px solid var(--sub);

}
.specail-heading > span::before{
    content: "";
    position: absolute;
    left: -1%;
    top: 0;
    border-top: 35px solid transparent;
    border-bottom: 32px solid transparent;
    border-left: 40px solid var(--sub);
}
/* STYLE FOR NAVIGATION */

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px;
  width: 100%;
  background-color: white;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.nav-bar .container {
  margin: 0 auto;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
}

.logo span {
  margin-left: 10px;
}

.logo i {
  color: var(--main);
}
.nav-bar .nav-links {
  display: flex;
  list-style: none;
  gap: 50px;
}

.nav-bar .nav-links a {
  color: var(--parg);
  text-decoration: none;
  font-weight: bold;
  position: relative;
  transition: 0.4s;
}
.nav-links a:hover {
  color: var(--main);
}

.nav-icons {
  list-style: none;
  display: flex;
  gap: 15px;
}
.nav-icons i {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--sub);
}
.nav-icons i:hover {
  color: white;
  background-color: var(--main);
  transition: 0.3s;
  cursor: pointer;
}

/* STYLE FOR NAVIGATION OF SMALL SCREEN */
.burger {
  font-size: 20px;
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  z-index: 1001;
  background-color: var(--sub);
  width: 40px;
  height: 30px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.burger span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: black;
  transition: 0.4s;
}

.burger.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.burger.toggle .line2 {
  opacity: 0;
}
.burger.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
@media (max-width: 992px) {
  .nav-bar {
    width: 100%;
    margin-left: 0 auto;
    position: fixed;
    left: 0;
    top: 0;
  }
  .burger {
    display: flex;
  }

  .nav-bar .nav-links {
    position: absolute;
    top: -300px;
    left: 100px;
    width: 50%;
    background-color: white;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    z-index: 999;
    text-align: left;
    opacity: 0;
    visibility: hidden;
  }
  .nav-bar .nav-links li a {
    display: inline-block;
    transition: 0.3s;
  }

  .nav-bar .nav-links li a:hover {
    transform: translateX(10px);
    color: var(--main);
  }
  .nav-bar .nav-links.active {
    top: 100px;
    opacity: 1;
    visibility: visible;
  }
}

/* start home  */

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10%;
}

header .content {
  text-align: center;
  max-width: 80%;
}

header .content h2 {
  font-weight: bold;
}
header .content p {
  font-size: 20px;
  color: var(--parg);
}
header .image_right,
.image_left {
  width: 30%;
}
header img {
  width: 100%;
}

@media (max-width: 787px) {
    header{
        margin-top: 20%;
    }
  header .image_right,
  .image_left {
    display: none;
  }
}
@media (max-width: 426px) {
       header{
        margin-top: 25%;
    }
}

/* -------------------------------------- */



/* STYLE FOR FEATURES */
.features {
    background-color: var(--sub);
   
 
}
 
.features .container .image {
width: 100%;
 display: flex;
 justify-content: center;

text-align: center;
 
}
 
.features .container .image img {
    width: 70%;
}

.features .container .content {
    text-align: center;
}

.features .container .card-hover { 
      transition: 0.3s;
}
.features .container .card-hover:hover {
    box-shadow: none !important;
  transform: translateY(-5px);
}



/* END STYLE FOR FEATURES */
/* -------------------------------------- */


/* STYLE FOR PRODUCTS */
.products{
    position: relative;
    background-color: var(--sub);
    padding: 50px 0 ;
}
.products .card{
    height:400px;
    margin-top: 30px;
}
.products .card-body{
    text-align: center;
    justify-content: center;
    align-items: center;
    outline: 2px solid var(--sub);
    outline-offset: -10px; 
    box-shadow: var(--shadow);
}
.products .card-img-top{
    width:150px;
    height:150px;
    margin-top: 50px;
}
.products .card-title{
    font-weight: bolder;
    margin-top: 5px;
    font-size:25px;
}
.products .card-text{
    color:var(--parg);
}
.products .btn{
    background-color: white;
    color: black;
    border: 1px solid black;
}
.products .btn:hover{
    background-color: var(--main);
    color:white;
    border:none;

}
.products .swiper-button-next,
.products .swiper-button-prev {
    color:var(--main);
    
}







/* END STYLE FOR PRODUCTS */

/* -------------------------------------- */

/* STYLE FOR CATEGORIES */









/* END STYLE FOR CATEGORIES */

/* -------------------------------------- */

/* STYLE FOR REVIEW */










/* END STYLE FOR REVIEW */

/* -------------------------------------- */

/* STYLE FOR BLOGS */

.blogs{
    position: relative;
    background-color: var(--sub);
}
.blogs .card{
    width:350px;
    margin: auto;
    box-shadow: var(--shadow);   
    padding: 10px;
}
.blogs .card-img-top{
    height:200px;
}
.blogs .list-group-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: smaller;
}
.blogs .list-group-item{
    color:var(--parg);
}
.blogs .list-group-item i{
    color:var(--main);
}
.blogs hr {
    border: none;
    height: 1px;
    background-color: var(--parg);
    margin: 0;
}
.blogs .card-title{
    margin-top: 15px;
    font-weight: bolder;
    line-height: 1.6;
}
.blogs .card-text{
    color:var(--parg);
}
.blogs .card-link{
    text-decoration: none;
    color:black;
    border: 1px solid black;
    border-radius: 5px;
    padding:10px 20px;
}
.blogs .card-link:hover{
    color:white;
    background-color:var(--main);
    border: none;
    transition: 0.3s;
}